*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --background-color: #051333;
    --sub-background:#e6e6e8;
    --text-color: #383838;
    --text-hover: #f0d551;
    --text-white: #fcfcfc;
}
header{
    width: 100%;
    height: 80px;
    background: var(--background-color);
}
header .header-container{
    width: 90%;
    background: var(--sub-background);
    height: 70px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    transform: translateY(70%);
}
.header-container .logo{
    padding: 10px 10px;
    margin-left: 30px;
    font-size: 18px;
}
.header-container ul{
    display: flex;
    margin: 10px 10px;
    padding: 10px 10px;
}
.header-container ul li{
    padding: 10px 10px;
    margin: 10px 10px;
    list-style: none;
}
.header-container ul li a{
    text-decoration: none;
    color: var(--text-color);
}
.header-container ul li a:hover{
    color: var(--text-hover);
}
/*=========================== Header Responsiveness ========================================*/
@media only screen and (max-width: 720px){
    header{
        width: 100%;
        height: 80px;
        background: var(--background-color);
    }
    header .header-container{
        position: absolute;
        width: 250px;
        text-align: center;
        justify-content: center;
        right: 0px;
        height: auto;
        top: 50px;
        transform: translateY(8%);
        border-radius: none;
    }
    .logo{
        display: none;
    }
    .header-container ul{
        display: flex;
        flex-direction: column;
        margin: 10px 10px;
        padding: 10px 10px;
    }
}

/*===================================== BOOKING SECTION STYLE =================================*/
.booking{
    width: 100%;
    height: 1000px;
}
.booking-container{
    width: 100%;
    height: 650px;
    background-image: url(assets/header.jpg);
    background-position: center;
    background-image: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.booking-details{
    width: 80%;
    margin: auto;
    height: 400px;
    justify-content: left;
    align-items: center;
    
}
.booking-details .sub-herader{
    font-size: 20px;
    color: var(--text-white);
    flex-direction: column;
    padding: 10px 10px;
}
.booking-details .main-header{
    font-size: 90px;
    color: var(--text-white);
    font-weight: 700;
    padding: 10px 10px;
    font-family: 'DM Serif Display', serif;
}
.booking-details .btn{
    padding: 10px 10px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    background: var(--text-hover);
    color: var(--text-white);
}
form{
    width: 100%;
    height: 350px;
    justify-content: center;
    background: var(--background-color);
    display: flex;
    align-items: center;
    color: var(--text-white);
    font-size: 18px;
}
form label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
form input{
    width: 250px;
    padding: 10px 10px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid var(--text-white);
    margin: 10px 10px;
    border-bottom: 2px solid var(--text-white);
}
form input[type="button"]{
    width: 250px;
    height: 50px;
    background: var(--text-hover);
    color: var(--text-white);
    border: none;
    cursor: pointer;
}
form input[type = "date"]{
    color: var(--sub-background);
    opacity: 0.3;
}

/*================================= BOOKING SECTION RESPONSIVENESS ====================================*/

@media only screen and (max-width: 800px){
    form{
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 350px;
        justify-content: left;
        font-size: 1rem;
        padding: 10px 10px;
        text-align: left;
    }
    form input[type="button"]{
        width: 200px;
        padding: 10px 10px;
        background: var(--text-hover);
        color: var(--text-white);
        border: none;
        cursor: pointer;
    }
    form input{
        width: 400px;
        padding: 10px 10px;
        background: transparent;
        border: 2px solid var(--text-white);
        margin: 10px 10px;
    }
}
@media only screen and (max-width: 585px){
    .booking-details{
        width: 80%;
        margin: auto;
        height: auto;
        justify-content: left;
        align-items: center;
    }
}
@media only screen and (max-width: 419px){
    form input[type="button"]{
        width: 200px;
        padding: 10px 10px;
        background: var(--text-hover);
        color: var(--text-white);
        border: none;
        cursor: pointer;
    }
    form input{
        width: 350px;
        padding: 10px 10px;
        background: transparent;
        border: 2px solid var(--text-white);
        margin: 10px 10px;
    }
}
@media only screen and (max-width: 364px){
    form input{
        width: 300px;
        padding: 10px 10px;
        background: transparent;
        border: 2px solid var(--text-white);
        margin: 10px 10px;
    }
}

/*====================================== ABOUT SECTION STYLE ===============================*/

.about{
    width: 100%;
    height: 700px;
}
.section-container{
    width: 90%;
    display: grid;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    padding: 20px 10px;
    margin: auto;
}
.about-grid{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
}
.about-image{
    object-fit: cover;
}
.about-image img{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 7px 33px 1px rgba(0,0,0,0.57);
    -moz-box-shadow: 5px 7px 33px 1px rgba(0,0,0,0.57);
    box-shadow: 5px 7px 33px 1px rgba(0,0,0,0.57);
}
.about-card{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
}
.about-card i{
    font-size: 40px;
    color: var(--text-hover);
}
.about-card h2{
    padding: 10px 10px;
}
.about .about-content{
    display: flex;
    justify-content: left;
    text-align: left;
    flex-direction: column;
    margin: auto;
}
.about-content .section_subheader{
    color: var(--sub-background);
}
.about-content .section_header{
    font-size: 45px;
    padding: 10px 10px;
    font-family: 'DM Serif Display', serif;
}
.about-content p{
    padding: 10px 10px;
}
.about-content .btn{
    margin: 10px 10px;
    background: var(--text-hover);
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 800px){
    .about-image img{
        width: 200px;
        height: 300px;
    }
    .about-card{
        width: 200px;
        height: 300px;
    }
}
@media only screen and (max-width: 690px){
    .about{
        height: auto;
    }
    .section-container{
        display: grid;
        grid-template-columns: 1fr; 
        gap: 10px; 
    }
    .about-grid{
        align-items: center;
        justify-content: center;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
    }
    .about-image{
        width: 200px;
        height: 300px;
    }
    .about-card{
        width: 200px;
        height: 300px;
    }
}
@media only screen and (max-width: 425px){
    .about{
        height: auto;
    }
    .section-container{
        display: grid;
        grid-template-columns: 1fr; 
        gap: 10px; 
    }
    .about-grid{
        align-items: center;
        justify-content: center;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
    }
    .about-image img{
        width: 150px;
        height: 250px;
    }
    .about-image{
        width: 150px;
        height: 250px;
    }
    .about-card{
        width: 150px;
        height: 250px;
    }
    .about-card h2{
        font-size: 18px;
    }
    .about-card p{
        font-size: 15px;
    }
}

/*================================ROOM SECTION STYLE ===============================*/
.rooms{
    width: 100%;
    height: auto;
}
.rooms-container{
    width: 90%;
    margin: auto;
    justify-content: center;
    text-align: center;
}
.rooms-container .sub-herader{
    color: var(--sub-background);
}
.rooms-container .main-header{
    font-size: 40px;
    font-weight: 600;
    padding: 10px 10px;
    font-family: 'DM Serif Display', serif;
}
.rooms-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.rooms-grid .room-box img{
    width: 400px;
    height: 300px;
}
.room-box .room-desc{
    background: var(--text-white);
    border-radius: 5px;
    color: black;
    width: 350px;
    margin: auto;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    transform: translateY(-60%);
    -webkit-box-shadow: 5px 7px 33px 1px rgba(0,0,0,0.57);
    -moz-box-shadow: 5px 7px 33px 1px rgba(0,0,0,0.57);
    box-shadow: 5px 7px 33px 1px rgba(0,0,0,0.57);
}
.room-desc h2{
    font-size: 18px;
    font-family: 'DM Serif Display', serif;
}
.room-desc p{
    display: flex;
    margin: 10px 10px;
    justify-content: space-between;
}
.room-desc p span{
    color: var(--text-hover);
}

.intro-container{
    width: 100%;
    background: var(--background-color);
    height: auto;
    justify-content: center;
    align-items: center;
}
.intro-container .container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    gap: 10px;
    width: 90%;
}
.intro-content h2{
    color: var(--text-white);
    font-size: 45px;
    padding: 10px 10px;
    font-family: 'DM Serif Display', serif;
}
.intro-content .sub-herader{
    color: var(--text-color);
    padding: 10px 10px;
}
.intro-content p{
    padding: 10px 10px;
    color: var(--text-white);
}
.intro-content .btn{
    margin: 10px 10px;
    background: var(--text-hover);
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border: none;
}
.intro-video video{
    width: 500px;
    height: 250px;
}

/* ========================== ROOM SECTION  RESPONSIVENESS STYLE =================================*/
@media only screen and (max-width: 1230px){
    .rooms-grid .room-box img{
        width: 100%;
        height: 300px;
    }
    .room-box .room-desc{
        width: 100%;
    }
}

@media only screen and (max-width: 631px){
    .rooms-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .rooms-grid .room-box img{
        width: 100%;
        height: 250px;
    }
    .room-box .room-desc{
        width: 100%;
    }
    
}
@media only screen and (max-width: 1040px){
    .intro-container .container{
        height: auto;
    }
    .intro-video video{
        width: 400px;
        height: 250px;
    }
}
@media only screen and (max-width: 840px){
    .intro-container{
        height: auto;
    }
    .intro-container .container{
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .intro-video video{
        width: 100%;    }
}

/* ====================================== FEATURES SECTION STYLE =====================================*/
.features{
    width: 100%;
    height: 600px;
    background: var(--text-white);
    text-align: center;
    justify-content: center;
    padding-top: 70px;
}
.features .sub-herader{
    margin: 10px 10px;
    color: var(--text-color);
}
.features h1{
    font-size: 45px;
    font-family: 'DM Serif Display', serif;
}
.features-container{
    width: 90%;
    margin-top: 50px;
    display: grid;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    margin: auto;
}
.features-container .feature-box{
    /* width: 400px; */
    text-align: left;
    height: 150px;
}
.feature-box i{
    font-size: 24px;
    color: var(--text-hover);
    font-weight: 500;
}
.feature-box h2{
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
}
.feature-box p{
    color: var(--text-color);
}

@media only screen and (max-width: 900px){
    .feature-box p{
        font-size: 15px;
    }
}
@media only screen and (max-width: 620px){
    .features{
        height: auto;
    }
    .features-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media only screen and (max-width: 450px){
    .features-container{
        display: grid;
        grid-template-columns: 1fr; 
    }
    .features-container .feature-box{
        height: 100px;
        text-align: center;
    }
}


/* ==================================== MENU SECTION STYLE =====================================*/
.menu{
    width: 100%;
    height: 900px;
    padding-top: 50px;
    background: #edf5ef;
}
.menu-container{
    width: 100%;
    text-align: left;
    margin: auto;
    padding: 10px 10px;
}
.menu-container .sub-herader{
    color: var(--text-color);
}
.menu-container h1{
    font-size: 35px;
    font-family: 'DM Serif Display', serif;
}
.menu-box{
    margin-top: 30px;
    /* display: grid; */
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    margin-bottom: 40px;
}
.menu-list{
    display: flex;
    /* width: 500px; */
    cursor: pointer;
}
.menu-list:hover{
    background: var(--background-color);
    scroll-behavior: smooth;
}
.menu-list img{
    width: 100px;
    height: 100px;
    padding: 5px 5px;
}
.menu-desc{
    padding: 10px 10px;
}
.menu-desc h2{
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
}
.menu-desc p{
    color: var(--text-color);
}
.menu-img{
    width: 90%;
    object-fit: contain;
    margin: auto;
    display: grid;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.menu-img img{
    width:300px;
    /* width: auto; */
    height: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 930px){
    .menu-img img{
        width:270px;
        height: 270px;
        /* width: auto; */
    }
}
@media only screen and (max-width: 885px){
    .menu-img img{
        width:250px;
        height: 250px;
        /* width: auto; */
    }
}

/*BLOG SECTION STYLE */
.blog{
    width: 100%;
    height: 750px;
}
.blog-container{
    width: 80%;
    margin: auto;
}
.blog-container .sub-herader{
    color: var(--text-color);
    padding: 10px 10px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.blog-container h1{
    padding: 10px 10px;
    font-size: 45px;
    font-family: 'DM Serif Display', serif;
}
.blog-news{
    display: grid;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}
.blog-box img{
    width: 400px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.blog-box .date{
    justify-content: space-between;
    color: var(--text-color);
    padding: 10px 10px;
    display: flex;
}
.blog-box h2{
    padding: 10px 10px;
    font-size: 20px;
}
.blog-box p{
    color: var(--text-color);
    padding: 10px 10px;
}
/*BLOG SECTION STYLE */
.footer{
    width: 100%;
    height: 500px;
    background: var(--background-color);
    display: flex;
    align-items: center;
    color: var(--text-white);
}
.footer-container{
    text-align: left;
    width: 80%;
    margin: auto;
    text-align: left;
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}
.footer-details{
    padding: 10px 10px;
    margin: 10px 10px;
    text-decoration: none;
}
.footer-details h3{
    padding: 10px 10px;
    font-family: 'DM Serif Display', serif;
}
.footer-details p{
    padding: 10px 10px;
}
.footer-details .social-links{
    padding: 10px 10px;
    font-size: 24px;
    margin: 10px 10px;
    gap: 30px;
}
.social-links i{
    width: 250px;
    height: 0px;
    justify-content: center;
    text-align: center;
    background: white;
    color: black;
    border-radius: 50%;
    padding: 10px 10px;
}
.footer-details .social-links i:hover{
    background: var(--text-hover);
}
.footer-details ul li{
    list-style: none;
    padding: 5px 10px;
}
.footer-details ul li a{
    text-decoration: none;
    color: var(--text-white);
}
.footer-details ul li a:hover{
    color: var(--text-hover);
}
.contacts-us{
    padding: 10px 10px;
}
.contacts-us i{
    padding: 10px 10px;
    font-size: 24px;
    color: var(--text-hover);
}
.contacts-us h5{
    font-size: 18px;
    font-family: 'DM Serif Display', serif;
}